In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

Data Clean

In [56]:
asx_list = pd.read_csv('assets/ASX_companies_list.csv')
asx200_list = pd.read_csv('assets/ASX200_companies_list.csv')

In [57]:
asx200_list

    Code Yahoo Code                                       Company
0    A2M     A2M.AX                       The a2 Milk Company Ltd
1    AAA     AAA.AX  Betashares Australian High Interest Cash ETF
2    ABC     ABC.AX                                     Adbri Ltd
3    ABP     ABP.AX                         Abacus Property Group
4    AFI     AFI.AX  Australian Foundation Investment Company Ltd
..   ...        ...                                           ...
195  WTC     WTC.AX                           Wisetech Global Ltd
196  XRO     XRO.AX                                      Xero Ltd
197  YAL     YAL.AX                         Yancoal Australia Ltd
198  ZIP     ZIP.AX                                    ZIP Co Ltd
199  ZIM     ZIM.AX                         Zimplats Holdings Ltd

[200 rows x 3 columns]

In [52]:
asx200_list = asx200_list.drop('Company', axis=1).merge(asx_list, on = ['Code', 'Yahoo Code'])

In [53]:
asx200_list

,Code,Yahoo Code,Company,Sector,Market Cap,Total Shares,Last trade
0,A2M,A2M.AX,The A2 Milk Company Limited,Consumer Staples,2833900000,7.210941e+08,3.930
1,AAA,AAA.AX,BetaShares Australian High Interest Cash ETF,Financials,3334510000,6.639805e+07,50.220
2,ABC,ABC.AX,Adbri Limited,Materials,1332790000,6.501415e+08,2.050
3,AFI,AFI.AX,Australian Foundation Investment Company Limited,Financials,8763240000,1.246549e+09,7.030
4,AGL,AGL.AX,AGL Energy Limited,Utilities,6680380000,6.707209e+08,9.960
...,...,...,...,...,...,...,...
184,WTC,WTC.AX,WiseTech Global Limited,Information Technology,22048800000,3.442436e+08,64.050
185,XRO,XRO.AX,Xero Limited,Information Technology,15078900000,1.514554e+08,99.560
186,YAL,YAL.AX,Yancoal Australia Ltd,Energy,6615400000,1.320439e+09,5.010
187,ZIP,ZIP.AX,Zip Co Limited,Financials,338657000,9.278274e+08,0.365
188,ZIM,ZIM.AX,Zimplats Holdings Limited,Materials,2185040000,1.076374e+08,20.300

Test yf

In [3]:
msft = yf.Ticker("MSFT")
data = msft.history(period="3mo", interval="1wk")

In [11]:
(data['Close'] - data['Open']) / data['Open'] * 100

pandas.core.series.Series

In [8]:
yf.Ticker("BHP.AX").history(period="1y", interval='1wk')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00+11:00,41.316177,44.122878,40.834216,43.244011,57035577,0.000000,0.0
2022-12-05 00:00:00+11:00,43.943329,45.096252,43.659824,44.869446,49792313,0.000000,0.0
2022-12-12 00:00:00+11:00,44.396937,44.529239,43.045561,43.158962,55960291,0.000000,0.0
2022-12-19 00:00:00+11:00,43.007758,44.198482,42.620301,43.622021,31338165,0.000000,0.0
2022-12-26 00:00:00+11:00,43.622021,44.198482,43.121162,43.121162,15762620,0.000000,0.0
2023-01-02 00:00:00+11:00,43.121166,45.152952,42.459652,44.897797,27926332,0.000000,0.0
2023-01-09 00:00:00+11:00,45.360858,47.194191,44.907250,46.910686,36188560,0.000000,0.0
2023-01-16 00:00:00+11:00,47.071338,47.335942,45.899514,47.203640,50565080,0.000000,0.0
2023-01-23 00:00:00+11:00,46.920134,47.449341,46.523224,46.816181,26648676,0.000000,0.0
2023-01-30 00:00:00+11:00,46.409825,47.293414,44.737143,45.275803,38526586,0.000000,0.0
2023-02-06 00:00:00+11:00,45.776662,46.022368,45.030100,45.360855,31520095,0.000000,0.0
2023-02-13 00:00:00+11:00,45.152950,46.060170,44.954497,45.360855,46414991,0.000000,0.0
2023-02-20 00:00:00+11:00,45.549862,46.060173,43.215667,43.414120,42501900,0.000000,0.0
2023-02-27 00:00:00+11:00,42.412398,45.965663,41.892639,45.663258,57407524,0.000000,0.0
2023-03-06 00:00:00+11:00,45.975115,46.022366,42.440747,42.535248,44490303,1.363636,0.0
2023-03-13 00:00:00+11:00,44.372642,44.844485,41.959923,42.212868,72007345,0.000000,0.0
2023-03-20 00:00:00+11:00,42.173952,42.752811,41.726432,42.456085,36799122,0.000000,0.0
2023-03-27 00:00:00+11:00,42.709034,45.948692,42.164225,45.948692,51759554,0.000000,0.0
2023-04-03 00:00:00+10:00,46.094622,46.298924,43.701357,43.827831,29041720,0.000000,0.0
2023-04-10 00:00:00+10:00,44.314268,46.114082,44.246168,45.189854,26049843,0.000000,0.0
2023-04-17 00:00:00+10:00,44.995280,46.230826,43.681905,43.798649,38433130,0.000000,0.0
2023-04-24 00:00:00+10:00,42.718761,43.535972,41.531857,43.195469,33738232,0.000000,0.0
2023-05-01 00:00:00+10:00,43.195468,43.419228,41.794532,42.854961,33417250,0.000000,0.0
2023-05-08 00:00:00+10:00,43.973766,44.012681,41.891822,42.300426,33339473,0.000000,0.0
2023-05-15 00:00:00+10:00,42.903605,43.438687,42.164225,42.961979,30599297,0.000000,0.0
2023-05-22 00:00:00+10:00,42.825775,43.273295,40.860576,41.590229,32144547,0.000000,0.0
2023-05-29 00:00:00+10:00,42.417167,42.670116,40.529799,42.076664,45994479,0.000000,0.0
2023-06-05 00:00:00+10:00,43.146821,43.642988,42.378256,43.506786,37854446,0.000000,0.0
2023-06-12 00:00:00+10:00,42.884149,45.462255,42.611743,45.160664,48781708,0.000000,0.0
2023-06-19 00:00:00+10:00,44.888263,45.676290,43.312214,43.390041,33256672,0.000000,0.0
2023-06-26 00:00:00+10:00,43.331670,44.508843,42.757676,43.769463,41773616,0.000000,0.0
2023-07-03 00:00:00+10:00,43.565157,44.255898,41.648604,42.028023,38228489,0.000000,0.0
2023-07-10 00:00:00+10:00,42.144767,44.508844,41.541588,44.285084,34878429,0.000000,0.0
2023-07-17 00:00:00+10:00,44.168341,44.382370,43.088454,43.798649,34264533,0.000000,0.0
2023-07-24 00:00:00+10:00,43.857023,45.919508,43.127370,44.557487,43258914,0.000000,0.0
2023-07-31 00:00:00+10:00,44.615861,45.579001,43.857023,44.557487,32507793,0.000000,0.0
2023-08-07 00:00:00+10:00,44.421283,44.645043,43.886205,44.489384,28627400,0.000000,0.0
2023-08-14 00:00:00+10:00,44.216981,44.343455,41.658330,42.504726,48704424,0.000000,0.0
2023-08-21 00:00:00+10:00,42.417168,43.137095,41.492944,41.852905,42241962,0.000000,0.0
2023-08-28 00:00:00+10:00,42.008565,43.720816,41.901549,43.526245,41854947,0.000000,0.0
2023-09-04 00:00:00+10:00,44.090507,45.014736,41.813989,42.018291,43291086,1.250651,0.0
2023-09-11 00:00:00+10:00,43.290001,45.980000,42.950001,45.680000,45069662,0.000000,0.0
2023-09-18 00:00:00+10:00,45.610001,45.889999,43.060001,44.340000,47634403,0.000000,0.0
2023-09-25 00:00:00+10:00,44.200001,44.820000,43.160000,44.250000,36641488,0.000000,0.0
2023-10-02 00:00:00+11:00,44.250000,44.630001,43.169998,43.970001,38406105,0.000000,0.0
2023-10-09 00:00:00+11:00,44.619999,45.130001,43.869999,45.009998,30783222,0.000000,0.0
2023-10-16 00:00:00+11:00,45.070000,45.990002,44.310001,44.430000,36520633,0.000000,0.0
2023-10-23 00:00:00+11:00,43.509998,45.189999,43.150002,45.060001,35544356,0.000000,0.0
2023-10-30 00:00:00+11:00,45.500000,45.880001,44.270000,45.500000,41174109,0.000000,0.0
2023-11-06 00:00:00+11:00,45.320000,45.639999,44.064999,45.270000,37585732,0.000000,0.0
2023-11-13 00:00:00+11:00,45.680000,47.090000,45.320000,46.610001,36087609,0.000000,0.0
2023-11-20 00:00:00+11:00,46.599998,47.930000,46.279999,47.209999,27661713,0.000000,0.0
2023-11-27 00:00:00+11:00,47.139999,47.169998,46.180000,46.430000,10255027,0.000000,0.0